p, h1, h2, h3, h4, h5, h6, nav{

    padding-top: 3%;
    padding-bottom: 3%; 
    padding-left: 1%;
    padding-right: 1%;
}

li, ol, ul{
    font-family: 'Open Sans', sans-serif;
    padding: 1.5%;

}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    font-family: 'Futura', sans-serif;

}

p{
    font-family: 'Open Sans', sans-serif;
    font: 1em;
    text: black;
}

img{
    width: 70%;
    padding-top: 2%;
    padding-bottom: 2%; 
}

body{
    background-color: #C5CBE3;

}

a.skip-link{
    background: white;
    left: 0;
    padding: 1%;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip-link:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }

header{
    background-color: #D79922;
}

nav{
    text-align: center;
    font-size: 1.75em;
}

a:-webkit-any-link{
    text-decoration: none;
}

.linkedin{
    text-decoration: underline;
}

.linkedin a:visited{
    font: black;
}

.nav a{
    color:black;

}

.nav a:hover, a:focus, a:visited{
    color: black;
    text-decoration: none;
  }


.nav .current{
    color: black;
    text-emphasis: bold;
    text-decoration: underline;
}

footer{
    background-color: #D79922;
    font-size: 2em;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%; 
}

ul.resume{
    list-style: circle;
    list-style-type: circle;
    padding-bottom: 2%;

}

.music-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.music-text{
    padding-top: 2%;
    padding-bottom: 2%; 
    padding-left: 10px;

}

h1.travel{
    font-size: 1.65em;
}

p.travel{
    font-size: 1.2em;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: auto;
    width: 100vw;
    row-gap: 0;
  }

.daytona-image{
    display: grid;
    overflow: hidden;
    grid-column: 1/span 1;
    grid-row: 1/span 1;
}

.abbeyroad-image{
    display: grid;
    overflow: hidden;
    grid-column: 1/span 1;
    grid-row: 2/span 1;
}

.rocky-image{
    display: grid;
    overflow: hidden;
    grid-column: 1/span 1;
    grid-row: 3/span 1;
}

.upnorth-image{
    display: grid;
    overflow: hidden;
    grid-column: 1/span 1;
    grid-row: 4/span 1;
}

.ski-image{
    display: grid;
    overflow: hidden;
    grid-column: 1/span 1;
    grid-row: 5/span 1;
}

.california-image{
    display: grid;
    overflow: hidden;
    grid-column: 1/span 1;
    grid-row: 6/span 1;
}

.sunset-image{
    display: grid;
    overflow: hidden;
    grid-column: 1/span 1;
    grid-row: 7/span 1;
}

.mopop-image{
    display: grid;
    overflow: hidden;
    grid-column: 1/span 1;
    grid-row: 8/span 1;
}

.bigben-image{
    display: grid;
    overflow: hidden;
    grid-column: 1/span 1;
    grid-row: 9/span 1;
}

.headphones-image{
    display: grid;
    overflow: hidden;
    grid-column: 1/span 1;
    grid-row: 10/span 1;
}

.familyatbeach-image{
    display: grid;
    overflow: hidden;
    grid-column: 1/span 1;
    grid-row: 11/span 1;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 7%; /* Some padding */ 
    border: 1px solid #4056A1; /* Gray border */

    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 2%; /* Add a top margin */
    margin-bottom: 2%; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #F13C20;
    color: black;
    padding: 3% 5%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #C5CBE3
    ;
}

/* Add a background color and some padding around the form */
.form-container {
    border-radius: 5px;
    background-color: #C5CBE3;
    padding: 8%;
}

@media screen and (min-width: 750px){

    .nav-links{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }

    .resume{
        padding: .75%;
    }

    .portrait{
        width: 36vw;
        padding: 0;
        margin: 0;
        padding-left: 1%;
    }

    .landscape{
        width: 68vw;
        padding: 0;
        padding-left: 1%;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin: 0;
        padding-left: 1%;


      }
    
    .daytona-image{
        display: grid;
        overflow: hidden;
        grid-column: 1/span 1;
        grid-row: 1/span 1;
    }
    
    .abbeyroad-image{
        display: grid;
        overflow: hidden;
        grid-column: 2/span 2;
        grid-row: 1/span 1;
    }
    
    .rocky-image{
        display: grid;
        overflow: hidden;
        grid-column: 1/span 1;
        grid-row: 2/span 2;
    }
    
    .upnorth-image{
        display: grid;
        overflow: hidden;
        grid-column: 2/span 2;
        grid-row: 6/span 1;
    }
    
    .ski-image{
        display: grid;
        overflow: hidden;
        grid-column: 1/span 2;
        grid-row: 4/span 1;
    }
    
    .california-image{
        display: grid;
        overflow: hidden;
        grid-column: 2/span 2;
        grid-row: 3/span 1;
    }
    
    .sunset-image{
        display: grid;
        overflow: hidden;
        grid-column: 3/span 1;
        grid-row: 4/span 2;
    }
    
    .mopop-image{
        display: grid;
        overflow: hidden;
        grid-column: 1/span 1;
        grid-row: 6/span 1;
    }
    
    .bigben-image{
        display: grid;
        overflow: hidden;
        grid-column: 2/span 3;
        grid-row: 8/span 1;
    }
    
    .headphones-image{
        display: grid;
        overflow: hidden;
        grid-column: 3/span 1;
        grid-row: 7/span 1;
    }
    
    .familyatbeach-image{
        display: grid;
        overflow: hidden;
        grid-column: 1/span 2;
        grid-row: 7/span 1;
    }
}

@media screen and (min-width: 1024px){

    .nav-links{
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .resume{
        padding: .5%;
    }

    li.resume{
        list-style: circle;
    }

    .portrait{
        width: auto;
        padding: 0;
        margin: 0;
        padding-left: 1%;
    }

    .landscape{
        width: auto;
        padding: 0;
        padding-left: 1%;
    }

    .trav{
        display: flex;
        flex-flow: column wrap;
}

    .music-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin: 0;
        padding-left: 5%;

      }


}

@media screen and (prefers-reduced-motion: reduce) { 
    a.skip-link{
      transition: none;
    }
  }  